body {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    margin: 0;
}


.form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}